<form method="post" action="{{ path('app_participation_activity_delete', {'id': participation_activity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participation_activity.id) }}">
    <button class="btn">Cancel</button>
</form>
