<form method="post" action="{{ path('admin_activities_delete', {'idActivity': activity.idActivity}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.idActivity) }}">
    <button class="btn">Delete</button>
</form>
